@import 'variables';

body::-webkit-scrollbar {
    width: .7rem;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: hsla(230, 81%, 6%, 0.322);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: hsl(230, 81%, 6%);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgba(22, 29, 61, 0.808);  /* creates padding around scroll thumb */
  }